<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  {% load static %}
  <link href="{% static 'main/css/card.css' %}" rel="stylesheet">
  <style>
    .container {
      font-family: 'Raleway', sans-serif;
    }
  </style>
</head>

<div class="container text-center">
  <h1 class="jumbotron-heading text-center mt-3">PROBLEM SOLVING // WEB DEVELOPMENT // DESIGN</h1>
    <div class="row">
      <div class="col-sm-4">
        <span style="color: #EE8B28;">
          <i class="fab fa-html5 fa-9x" title="HTML"></i>
        </span>
        <h4>HTML</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: Dodgerblue;">
          <i class="fab fa-css3-alt fa-9x" title="CSS"></i>
        </span>
        <h4>CSS</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: #F60DD6;">
          <i class="fab fa-sass fa-9x" title="SASS"></i>
        </span>
        <h4>SASS</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: #e6e600;">
          <i class="fab fa-js-square fa-9x" title="JavaScript"></i>
        </span>
        <h4>JavaScript</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: #66D831;">
          <i class="fab fa-node-js fa-9x" title="Node.js"></i>
        </span>
        <h4>Node.js</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: #35CAE5;">
          <i class="fab fa-react fa-9x" title="React.js"></i>
        </span>
        <h4>React</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        {% load static %}
        <img src="{% static 'main/img/python.png' %}" alt="python" title="Python">
        <h4 class="pt-1">Python</h4>
      </div>
      <div class="col-sm-4">
        <img src="{% static 'main/img/django.png' %}" alt="django" title="Django">
        <h4 class="pt-1">Django</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: #C0C0C0;">
          <i class="fas fa-database fa-9x" title="SQL"></i>
        </span>
        <h4>SQL</h4>
      </div>
      <div class="col-sm-4">
        <span style="color: #4e1a51;">
          <i class="fab fa-bootstrap fa-9x" title="Bootstrap"></i>
        </span>
        <h4>Bootstrap</h4>
      </div>
      <div class="col-sm-4">
        <i class="fab fa-git-square fa-9x" title="Git"></i>
        <h4>Git</h4>
      </div>
      <div class="col-sm-4">
        <img src="{% static 'main/img/vscode.png' %}" alt="vscode" title="VSCode">
        <h4 class="pt-1">VSCode</h4>
      </div>
    </div>
</div>