<div class="container marketing">
  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Putting the pieces together. <span class="text-muted">Problem Solving.</span></h2>
        <p class="lead">I am a problem solver. Steve Jobs once said, "Everyone in this country should learn to program a computer, because it teaches you to think." The best way to solve a problem is having a framework and by practicing! Attention to detail and intricacy are all important qualities of mine.</p>
      </div>
      <div class="col-md-5">
        {% load static %}
        <img src="{% static 'main/img/detail.png' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Web Development. <span class="text-muted">Progress.</span></h2>
        <p class="lead">I'm always working on projects that expand my knowledge and fuel my desire to learn new technologies. My favorite resources include Google, documentation, Udemy, and YouTube.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'main/img/course_catelog.png' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Strong Communcation. <span class="text-muted">Check.</span></h2>
        <p class="lead">My customer service experience proves to be a favorable factor in my communcation skills. I love conversing with coworkers and helping others in need. It's my passion and I plan to make it my career through code.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'main/img/social.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>
</div>