<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <style>
    footer {
      font-family: 'Raleway', sans-serif;
    }
  </style>
</head>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2019 Josh Arrants</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/">Home</a></li>&middot;
      <li class="list-inline-item"><a href="/about">About</a></li>&middot;
      <li class="list-inline-item"><a href="/projects">Projects</a></li>
      {% comment %} <li class="list-inline-item"><a href="/contact">Contact</a></li> {% endcomment %}
    </ul>
</footer>