@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#main {
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

.about-me {
  font-size: 20px;
  padding: 0 20vh 0 20vh;
}

.margin {
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3.5px;
}

.where {
  font-size: 17px;
  padding: 0 20vh 0 20vh;
}

.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 375px) {
  .about-me {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3.5px;
  }

  .img-responsive {
    width: 300px;
    height: 300px;
  }
}
